body, html {
    height: 100%;
    margin: 0rem;    
}
 #home { 
    background-image: url(../img/headerimg2.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2 );
    background-blend-mode: overlay;
}

#home h1 {
    font-size: 3rem;
    margin: 0%;
}
#home h2 {
    font-size: 1.5rem;
    margin: 0px;
}
.color {
    color: #ea214d;
}
#home button {
    font-size: 1.6rem;
    border-radius: 0.4rem;
    padding: 0.5rem 2rem;
    border: solid 2px #ea214d;
    background-color: rgba(0,0,0,0);
    color: #ea214d;
}
#home nav ul li{
    display: inline;
}
#home nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1.2rem;
    color: whitesmoke;

}
#home nav ul li a:hover {
    color: #523e4d6e;
}
#home nav {
    background-color: #ea214d;\
    position: absolute;
    bottom: 0;
    text-align: left;
    border-bottom: 5px;
    width: 100%;
}
#home button:hover {
    color: #523e4d6e;
    border-color: #523e4d6e;
}
#home span:hover{
    color:#ffffff;
}
#home:hover {
    color: #ea214d;
}
/* about section */
#about h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 34px;
    margin-bottom: 0rem;
}
#about hr{
    margin-top: 0rem;
    width: 70px;
    height: 4px;
    background-color: black;
    border-radius: 9px;
}

#about .skills{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
#about .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20rem;
    text-align: center;
}

#about .icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ea214d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actual-skill{
    margin-bottom: -0.7rem;
}

#about .icon i{
    color: #ffffff;
    font-size: 3rem;
}

#about .con{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}
#about .con p {
    margin-top: -19px;
}
#about .con .left{
    width: 200px;
    margin-right: 3rem
}

#about .profile-img {
    background-image: url('../img/final.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#about .con {
    display: flex;
}

progress[value] {
    -webkit-appearance: none;
     appearance: none;
  
    width: 250px;
    height: 20px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #ea214d, #ea214d);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.right .progress .skill {
    display: inline-block;
}
/* contact section */
#contact {
    background-color:#252934;
    color: #ffffff;
    text-align: center;
}
#contact h2{
    margin-top: 5rem;
    text-align: center;
    font-size: 34px;
    margin-bottom: 0rem;
}
#contact hr{
    margin-top: 0rem;
    width: 70px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 9px;
}
#contact input{
    border: 2px solid;
    width: 30rem;
    height: 1.3rem;
    border-radius: 4px;
    background-color: #252934;
    -webkit-text-fill-color: rgb(216, 234, 245);
}

#contact textarea{
    border: 2px solid;
    width: 30rem;
    height: 10rem;
    border-radius: 4px;
    background-color: #252934;
    -webkit-text-fill-color: rgb(216, 234, 245);
}
#contact p{
    padding-top:
}
#submitbutton {
    background-color: #252934; 
    border-radius: 0.2rem;
    color: rgb(216, 234, 245);
    height: 2rem;
    width:4.3rem;
    text-align: center;
    font-size: 12px; 
}
#submitbutton:hover{
    background-color: rgb(216, 234, 245);
    color: #252934;
}
#portfolio h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 34px;
    margin-bottom: 0rem;
}
#portfolio hr{
    margin-top: 0rem;
    width: 70px;
    height: 4px;
    background-color: black;
    border-radius: 9px;
}
#portfolio .projects{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
#portfolio .work{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20rem;
    text-align: center;
}
#portfolio .icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ea214d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actual-work{
    margin-bottom: -0.7rem;
}
#portfolio .icon i{
    color: #ffffff;
    font-size: 3rem;
}
#blog h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 34px;
    margin-bottom: 0rem;
}
#blog hr{
    margin-top: 0rem;
    width: 70px;
    height: 4px;
    background-color: black;
    border-radius: 9px;
}
#blog .projects{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
#blog .work{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20rem;
    text-align: center;
}
#blog .icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ea214d;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog .icon i{
    color: #ffffff;
    font-size: 3rem;
}
footer {
    background-color: #252934;
}
#back-up .upagain {
    width:40px;
    height:40px;
    border-radius:20px;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-up i{
    color: #ffffff;
    font-size: 1.2rem;
}
#homeup, #socials {
    text-align: center;
}

#back-up, #social-me {
    display: inline-block;
}
#social-me i {
    color: #ffffff;
    font-size: 0.9rem;
}
 